* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mainBlock {
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid red;
    position: relative;
}

.menu {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 550px;
    border: 2px solid red;
    position: relative;
}

.menu div{
    width: 50%;
    height: 100%;
    padding: 10px;
}

.menuBar:nth-of-type(2) > div {
    width: 100%;
    height: auto;
    padding: 10px 20px;
}

.menuBar:nth-of-type(2) {
    overflow-y: scroll;
}

.menuBar:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    right: 500px;
}

.musicPhoto {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.artistName {
    margin: 20px 0;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.musicNames {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 17, 255);
}

.bottomBlock {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.863);
}

.music_duration {
    width: 100%;
    height: 10px;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

.music_time {
    width: 0;
    height: 100%;
    background-color: rgba(252, 166, 7, 0.6);
}

.music_duration:hover {
    height: 15px;
}

.control {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.btnControl {
    display: flex;
    align-items: center;
}

.btnControl > div {
    width: 50px;
}

.btnControl > div > i {
    font-size: 25px;
    cursor: pointer;
    color: rgb(180, 180, 180);
}

.btnControl > div > i:hover {
    color: rgb(0, 0, 0);
}

.fa-play, .fa-pause {
    font-size: 33px !important;
}

.btnSound {
    display: flex;
    align-items: center;
}

.btnSound > div {
    width: 40px;
}

.btnSound > div > i {
    font-size: 17px;
    cursor: pointer;
    color: rgb(180, 180, 180);
}

.btnSound > div > i:hover {
    color: rgb(0, 0, 0);
}

.homeOfMusic {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px !important;
    cursor: pointer;
    border: 2px solid transparent;
}

.homeOfMusic:hover {
    border-color: rgb(255, 217, 0);
}

.homeOfMusic .number {
    margin-right: 7px;
    font-size: 17px;
}

.large {
    margin-left: -10px !important;
}

.homeOfMusic img {
    width: 55px;
    height: 55px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.number {
    font-size: 22px;
    font-weight: 500;
}

.textBlock h3 {
    font-size: 17px;
}

.textBlock p {
    font-size: 15px;
}

.volumeBtn {
    position: relative;
    padding: 3px;
}

.volumeBox {
    position: absolute;
    top: -130px;
    left: -85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(145, 117, 117, 0.616);
    cursor: pointer;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    padding: 7px 15px;
    visibility: hidden;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.volumeBox::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    left: -5px;
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    -o-transform: rotate(-140deg);
}

.volumeIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.volumes {
    cursor: pointer;
}

.subtitr {
    margin-left: 10px;
}

.volumeBtn:hover > .volumeBox {
    visibility: visible;
    transform: rotate(-90deg) translateX(30px);
    -webkit-transform: rotate(-90deg) translateX(30px);
    -moz-transform: rotate(-90deg) translateX(30px);
    -ms-transform: rotate(-90deg) translateX(30px);
    -o-transform: rotate(-90deg) translateX(30px);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}


@media screen and (max-width:1200px) {

    .mainBlock {
        padding: 0;
    }

    .container {
        width: 100%;
        height: 100%;
        padding: 0;
    }
}

@media screen and (max-width:900px) {
    .mainBlock {
        padding: 10px;
    }

    .menu {
        flex-direction: column;
        overflow-y: scroll !important;
        height: 95vh;
    }

    .menuBar {
        width: 100% !important;
    }

    .control {
        padding: 0 15px;
    }

    .musicsBox {
        margin-bottom: 40px;
    }

    .textBlock {
        padding: 0;
        padding-left: 10px !important;
    }
}
